<div class="height-100">
  <div class="login-wrapper" style="margin-left: auto !important;margin-right: auto !important;">
    <mat-card style="opacity: 0.8">
      <form class="login-wrapper-form" [formGroup]="changePasswordForm">
        <mat-card-content>
          <h1 class="sign-in-text-weight">{{'CHANGE_PWD.CHANGE_PASSWORD'|translate}}</h1>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field class="login-wrapper-full-width">
            <input matInput placeholder="{{'CHANGE_PWD.CURRENT_PASSWORD'|translate}}" type='password'
                   formControlName="current_password"
                   autocomplete="off">
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field class="login-wrapper-full-width">
            <input matInput placeholder="{{'CHANGE_PWD.NEW_PASSWORD'|translate}}" type='password'
                   formControlName="new_password"
                   autocomplete="off">
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field class="login-wrapper-full-width">
            <input matInput placeholder="{{'CHANGE_PWD.CONFIRM_PASSWORD'|translate}}" type='password'
                   formControlName="confirm_password"
                   autocomplete="off">
          </mat-form-field>
        </mat-card-content>
        <app-field-error-display [displayError]="changePasswordMsg()" errorMsg={{changePasswordErrMsg}}>
        </app-field-error-display>
        <div>
          <button mat-stroked-button class="login-btn-block login-btn-padding login-button-pos"
                  [disabled]="!changePasswordForm.valid || loading"
                  [class.spinner]="loading" (click)="onChangePasswordSubmit()">
            {{'CHANGE_PWD.CHANGE_PASSWORD'|translate}}
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
