<div class="layout-footer clearfix">
    <div class="container">
        <div class="grid">
            <div class="col-12 lg:col-3">
                <a href="" class="logo">
                    <span>RSFA</span>
                </a>
                <p class="foot-cont">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <div class="col-12 lg:col-2 foot-ul">
                <h5 class="text-400 font-bold text-2xl">LINKS</h5>
                <ul>
                    <li><a href="">About Us  </a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-12 lg:col-2 foot-ul">
                <h5 class="text-400 font-bold text-2xl">POLICIES</h5>
                <ul>
                    <li><a href="">Refund Policy </a></li>
                    <li><a href="">Return Policy</a></li>
                    <li><a href="">Cancellation Policy</a></li>
                </ul>
            </div>
            <div class="col-12 lg:col-2 foot-ul">
                <h5 class="text-400 font-bold text-2xl">ACCOUNT</h5>
                <ul>
                    <li><a href="">My Account </a></li>
                    <li><a href="">Wishlist</a></li>
                </ul>
            </div>
            <div class="col-12 lg:col-3 foot-ul">
                <h5 class="text-400 font-bold text-2xl">CONNECT </h5>
                <ul>
                    <li><a href="">contactus@botree.co.in </a></li>
                    <li><a href="">+91-44-2855 1591</a></li>
                    <li><a href="">WSS Towers, No.107 & 108, Harris Road, Chennai- 600 002 </a></li>
                </ul>
            </div>
        </div>
        <div class="grid foot-bottom">
            <div class="col-12 lg:col-6">
                <span class="foot-copy">© Copyright 2023. All Rights Reserved by Botree Software.</span>
            </div>
            <div class="col-12 lg:col-6">
                <div class="layout-footer-icons">
                    <a href="#twitter" class="icon-link"><i class="pi pi-twitter icon"></i></a>
                    <a href="#facebook" class="icon-link"><i class="pi pi-facebook icon"></i></a>
                    <a href="#github" class="icon-link"><i class="pi pi-github icon"></i></a>
                </div>
            </div>
        </div>
        
    </div>
</div>
