.toast {
  visibility: hidden;
  max-width: 50px;
  height: 20%;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;

  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 25% !important;
  white-space: nowrap;
}

.toast .desc {
  color: #fff;
  padding: 16px;
  overflow: hidden;
  white-space: nowrap;
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 1024px) {
  .toast {
    height: 10%;
  }
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
  .toast {
    height: 20%;
  }
}

@media screen and (max-width: 640px) {
  .toast {
    width: 100% !important;
    height: 15%;
  }
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 5%;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 5%;
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    min-width: 40%;
  }
  to {
    min-width: 50%;
  }
}

@keyframes expand {
  from {
    min-width: 40%;
  }
  to {
    min-width: 50%;
  }
}

@media screen and (max-width: 768px) {
  @-webkit-keyframes expand {
    from {
      min-width: 40%;
    }
    to {
      min-width: 90%;
    }
  }
  @keyframes expand {
    from {
      min-width: 40%;
    }
    to {
      min-width: 90%;
    }
  }
}
